body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-size: 14px;
    line-height: 20px;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
    -ms-overflow-style: none; /* IE 10+ */
    color: white;
}

body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

a {
    background-color: transparent;
}

a:active a:hover {
    outline: none;
}

img {
    border: none;
}

h2 {
    line-height: 36px;
    font-weight: bold;
}

.background {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: linear-gradient(180deg, #5865f2, #eb459e);
}

.nav {
    position: sticky;
    padding: 8px 56px;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    background-color: rgba(30, 33, 36, 0.58);
}

.nav-menu {
    position: relative;
    display: flex;
    float: right;
}

.nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    transition: color 200ms ease;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    color: white;
}

.w-nav-link:hover {
    color: #eb459e;
}

.logo {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    transition: text-shadow 200ms ease;
    font-family: Gugi, sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: white;
}

.logo:hover {
    text-shadow: 3px 3px 0 #1e2124;
}

.invite-button {
    display: flex;
    padding: 0 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    flex: 0 auto;
    border-radius: 12px;
    transition: color 200ms ease, background-color 200ms ease;
    font-family: Gugi, sans-serif;
    font-size: 20px;
    background-color: #eb459e;
    color: white;
    border: none;
    line-height: inherit;
}

.invite-button:hover {
    background-color: #57f287;
    color: #1e2124;
}

.invite-button:active {
    border-style: none;
    background-color: #eb459e;
    color: white;
}

.container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 0;
    margin: 20px auto 40px;
    max-width: 940px;
    display: block;
    overflow: visible;
    position: absolute;
    -webkit-box-flex: 0;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 0 auto;
}

.sandra {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 80vh;
    padding-top: 0;
    display: block;
    max-height: none;
    max-width: none;
    min-height: auto;
    min-width: auto;
    margin: auto;
    align-self: auto;
    object-fit: contain;
}

.blurb {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    width: auto;
    height: auto;
    max-height: none;
    min-height: auto;
    margin: auto;
    padding-top: 0;
    padding-bottom: 45px;
    font-family: Gugi, sans-serif;
    font-size: 32px;
    font-style: normal;
    text-align: center;
    text-shadow: 2px 2px 0 #1e2124;
    object-fit: contain;
}

.with-love {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    max-height: none;
    min-height: auto;
    margin: auto;
    font-family: Montserrat, sans-serif;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px 0 #1e2124;
    object-fit: contain;
}
